*{
  font-family: font-family: 'Ubuntu', sans-serif;;
}
header{
  background-color: black;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  border-bottom: 10px solid gold;
  text-align: right;

}
.link{
  font-weight: bolder;
  font-size: xx-large;
  color: gold;
  display: inline;
}

#picture{
  border: 15px gold;
  border-style: solid;
  display:block
}